/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 8:37:52 PM
    Author     : pauls
*/

body {
  padding: 50px;
    background: url("../img/bc.jpg") no-repeat center center fixed;
  background-size: cover;
    background-attachment: fixed;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #666;
}

.btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 300px;
  margin: auto;
  display: block;
  border: 2px solid #555;
}
.btn-tertiary:hover, .btn-tertiary:focus {
  color: #888888;
  border-color: #888888;
}

/* input file style */
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}
.input-file + .js-labelFile .icon:before {
  content: "\f093";
}
.input-file + .js-labelFile.has-file .icon:before {
  content: "\f00c";
  color: #5AAC7B;
}
.divLogin {
    margin-top: 300px;
    width: 500;
    height: 200;
    border: 5px solid lightblue;
    border-radius: 15px;
    margin-right:auto;
    margin-bottom:auto;
    margin-left:auto;
   	text-align:center;
    color:black;
    background: lightblue;
    
}
.btn{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border: 2px solid;
  border-radius: 3px;
  margin: 10px 4px;
  padding: 14px 30px;
  letter-spacing: .5px;
  transition: all 0.3s ease-out;

  .btn-color(@btn-default, @black);
  .btn-schadow;

  /* BUTTONS STYLE */
  &.btn-large{
    padding: 18px 35px;
    font-size: 16px;
  }
}

.btn-color(@button-color, @btn-txt-color){
  background: @button-color;
  color: @btn-txt-color;
  border-color: @button-color;

  &:hover{
    background: darken(@button-color, 5%);
    border-color: darken(@button-color, 5%);
  }

  &.outline{
    background: transparent;
    border: 2px solid @button-color;
    color: @button-color;

    &:hover{
      background: @button-color;
      color: @btn-txt-color;
    }

    &.sweep-to-right,
    &.sweep-to-left,
    &.sweep-to-bottom,
    &.sweep-to-top,
    &.radial-out{
      background: transparent;
    }
  }
  .bottom-page {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 60px;
    border-top: 2px solid #d0d4d9;
    box-shadow: 0px 0px 8px;
    text-align: center;
    overflow: hidden;
    text-align: center;
    background-color: white;
}