@font-face {
    font-family: 'halfmoon';
    /*a name to be used later*/
    src: url('halfmoon_regular.woff');
    /*URL to font*/
}

@font-face {
    font-family: 'halfmoon_b';
    /*a name to be used later*/
    src: url('halfmoon_bold.woff');
    /*URL to font*/
}

#log-out {
    
    padding: 7px 16px;
    border: 1px solid #006DF0;
    border-radius: 10px;
    color: #006DF0;
    text-decoration: none;
    text-align: inherit;
    font-family: halfmoon_b, sans-serif;
}

#log-out:hover {
    color: #ffffff;
    background-color: #006DF0;
}

.bottom-page {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 60px;
    border-top: 2px solid #d0d4d9;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

footer h2 {
    position: relative;
    top: 0px;
    font-size: 120%;
    color: #006DF0;
    !important;
    text-decoration: none;
    !important;
    text-align: inherit;
    !important;
    font-family: halfmoon;
    !important;
}