@font-face {
    font-family: 'halfmoon';
    /*a name to be used later*/
    src: url('halfmoon_regular.woff');
    /*URL to font*/
}

@font-face {
    font-family: 'halfmoon_b';
    /*a name to be used later*/
    src: url('halfmoon_bold.woff');
    /*URL to font*/
}

body {
    margin: 0 auto;
}

.shadow-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #d0d4d9;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.shadow-box .github-img {
    position: absolute;
    top: 0px;
    left: 315px;
    margin: 13px auto background: #000;
}

.shadow-box img {
    display: inline-block;
    margin: 13px auto;
    text-align: center;
}

.shadow-box .button-link {
    position: absolute;
    padding: 7px 16px;
    top: 25px;
    right: 315px;
    border: 1px solid #006DF0;
    border-radius: 10px;
    color: #006DF0;
    text-decoration: none;
    text-align: inherit;
    font-family: halfmoon_b, sans-serif;
}

.shadow-box .button-link:hover {
    color: #ffffff;
    background-color: #006DF0;
}

.shadow-box .github-link {
    position: absolute;
    padding: 7px 16px;
    top: 20px;
    left: 335px;
    color: #006DF0;
    text-decoration: none;
    text-align: inherit;
    font-family: halfmoon_b, sans-serif;
}

.content {
    position: absolute;
    background-image: url("/img/data-wallpaper.jpg");
    text-align: center;
    height: 800px;
    top: 60px;
    width: 100%;
    z-index: 5;
    padding-top: 20px;
    overflow: auto;
}

h1.contentHeader {
    display: block;
    font-weight: 300;
    font-size: 250%;
    color: rgb(100, 100, 100);
    font-family: halfmoon, sans-serif;
}

h1.contentSignup {
    font-weight: 200;
    font-size: 250%;
    color: #006DF0;
    font-family: halfmoon_b, sans-serif;
}

form {
    width: 450px;
    height: 450px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #999;
    margin: 0 auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
    margin: 0 auto;
    width: 375px;
    display: block;
    height: 25px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.content button:hover {
    background: #fff;
    color: #006DF0;
}

.content button {
    padding: 7px 16px;
    background: #006DF0;
    border: 1px solid #006DF0;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: inherit;
    font-family: halfmoon_b, sans-serif;
}

.bottom-page {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 60px;
    border-top: 2px solid #d0d4d9;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

footer h2 {
    position: relative;
    top: 5px;
    font-size: 110%;
    color: #006DF0;
    !important;
    text-decoration: none;
    !important;
    text-align: inherit;
    !important;
    font-family: halfmoon;
    !important;
}

;

}
